.App {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  user-select: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
    color: var(--font-color);
}

.Layout {
}