
.Qr-titled {
    background-color: var(--content-bg-color);
    box-sizing: border-box;
    padding-top: calc((10px + 2vmin) * 2);
    padding-bottom: calc((10px + 2vmin) * 2);
}

.Qr-titled-nobg {
    padding-top: calc((10px + 2vmin) * 2);
    padding-bottom: calc((10px + 2vmin) * 2);
}

.Qr-title-svg {
    height: 1.4em;
}

.Qr-title {
    color: var(--b-w);
    margin-top: 2.25em;
    font-weight: bold;
    font-size: 2.25em;
}

.Qr-subtitle {
    margin-top: -1.5em;
    margin-bottom: 0;
    line-height: 2em;
}


.Qr-s-subtitle {
    margin-top: 0.25em;
    margin-bottom: 0;
}

.Qr-rel {
    position: relative;
}

.Qr-style-hint {
    opacity: 0;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s; /* Safari */
    -moz-animation-duration: 0.3s;
    transition-duration: 0.3s;
}

#Qr-style:hover .Qr-style-hint {
    opacity: 0.6;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
}

@media (min-width: 500px) {
    .Qr-style-hint {
        font-size: 14px;
    }
}

.Qr-s {
    overflow-x: scroll;
    overflow-y: hidden!important;
    width: calc(100vw - var(--scrollbar-width));
    white-space: nowrap;
    display: flex;
    margin-bottom: calc((-10px - 2vmin)/2);
}

.Qr-s::-webkit-scrollbar {
    display: none;
}

.Qr-s {
    scrollbar-width: none;
}


.Qr-s {
    -ms-overflow-style: none;
}

.Qr-s-title {
    font-size: 1.4em;
}

.title-margin {
    margin-bottom: 20px;
}

.Qr-box {
    white-space: nowrap;
    display: flex;
    padding: 0 13px 0 23px;
}

@media (min-width: 1000px) {
    .Qr-box {
        padding-left: calc((100vw - var(--scrollbar-width) - 1000px) / 2 + 23px);
        padding-right: calc((100vw - var(--scrollbar-width) - 1000px) / 2 + 13px);
    }
}

.Qr-item {
    user-select: none;
    float: left;
    display:block!important;
    margin-right: 10px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
}

.Qr-item-image {
    /*padding: 23px;*/
    overflow: hidden;
    display: flex;
    opacity: var(--qr-opacity);
    background-color: white;
    width: calc((100vw - 56px) / 2);
    height: calc((100vw - 56px) / 2);
    border-radius: 20px;
    box-sizing: border-box;
    border: rgba(0,0,0,0.12) solid 2px;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
}

.Qr-gallery-image {
    box-sizing: border-box;
    height: calc((100vw - 56px) / 2);
    margin-right: 10px;
    border: var(--border-color) solid 1px;
    font-size: 18px;
}

.Qr-s-gallery {
    margin-bottom: 0;
}

@media (min-width: 500px) {
    .Qr-item-image {
        border: rgba(0,0,0,0.12) solid 3px;
        width: 200px;
        height: 200px;
    }
    .Qr-gallery-image {
        height: 200px;
    }
}

#dl-image {
    padding-top: 20px;
}

#dl-image-inner {
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    border: rgba(0,0,0,0.12) solid 2px;
    width: calc((100vw - 56px) / 2);
    height: calc((100vw - 56px) / 2);
    background: rgba(255,255,255,0.5);
}

@media (min-width: 500px) {
    #dl-image-inner {
        border: rgba(0,0,0,0.12) solid 3px;
        width: 200px;
        height: 200px;
    }
}

#dl-image-inner-jpg {
    width: 100%;
    height: 100%;
}

.Qr-item-image-inner {
    justify-content: center;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.Qr-item-selected .Qr-item-image {
    border-color: #44D7B6 !important;
    opacity: 1!important;
}

.Qr-item-selected .Qr-item-detail {
    opacity: 1;
}

.Qr-item:hover .Qr-item-image {
    opacity: 1!important;
}

.Qr-item:hover .Qr-item-detail {
    opacity: 1;
}

.Qr-item-selected .Qr-item-desc-inner {
    opacity: 1!important;
    height: auto;
}

#Qr-style:hover .Qr-item-image {
    opacity: var(--qr-opacity-hover);
}

.Qr-item-detail {
    opacity: 0.3;
    color: var(--font-color);
    margin-top: 5px;
    font-size: 1em;
    text-align: left;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
}

.Qr-item-desc {

}


.Qr-item-desc-inner {
    height: 0;
    opacity: 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    width: calc((100vw - 56px) / 2);
    text-align: left;
    font-size: 12px;
    color: var(--input-font-color);
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
}

@media (min-width: 500px) {
    .Qr-item-desc-inner {
        width: 200px;
        font-size: 14px;
    }
}


.Qr-item-desc a {
    font-weight: bold;
    padding: 0px 0;
    color: var(--font-color);
    box-sizing: border-box;
    text-decoration: none;
}

.Qr-item-desc a:hover {
    text-decoration: underline;
}

tr {
    width: 100%;
    display: inline-flex;
    justify-content: space-between ;
    align-items: center;
}

td:nth-child(1) {
    font-size: 0.9em;
    white-space: nowrap;
    color: var(--input-font-color);
}

@media (min-width: 500px) {
    td:nth-child(1) {
        font-size: 0.8em;
    }
}

td:nth-child(2) {
    white-space: nowrap;
    font-size: 1em;
}

td {
    padding: 0 0 12px 0;
}

.Qr-input-upload {
    display: flex;
    max-width: calc(100vw - 46px);
    width: 20em;
}

.Qr-input-upload-div {
    margin-top: calc((5px + 2vmin) * 2);
    margin-bottom: calc((10px + 2vmin + 10px) * 2);
    position: relative;
}

.Qr-input-upload:hover + .Qr-input-hint {
    opacity: 0.6;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
}

.Qr-input-hint {
    opacity: 0;
    margin-top: 12px;
    font-size: 12px;
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s; /* Safari */
    -moz-animation-duration: 0.3s;
    transition-duration: 0.3s;
}

.Qr-new-discord {
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -54px;
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width: 500px) {
    .Qr-input-hint, .Qr-new-discord {
        margin-top: 14px;
        font-size: 14px;
    }
}

.big-input {
    height: calc(2em + 6px);
    font-size: calc(10px + 2vmin);
    border: var(--border-color) solid 2px;
    margin-left: 10px;
    flex: 1;
}

@media (min-width: 500px) {
    .big-input {
        border: var(--border-color) solid 3px;
    }
}

.Qr-upload {
    color: var(--upload-color);
    font-size: calc(10px + 2vmin);
    border: var(--border-color) solid 2px;
    width: calc(2em + 6px)!important;
    height: calc(2em + 6px);
    cursor: pointer;
    line-height: 2em;
    border-radius: 3em;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
    background: var(--bg-color);
    font-family: 'Futura', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .Qr-upload {
        border: var(--border-color) solid 3px;
    }
}

.Qr-upload:hover {
    border-color: var(--border-color-focus);
    color: var(--border-color-focus);
}

.Qr-upload:active {
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    border-color: #3BBC9F;
    color: #3BBC9F;
}

.Qr-upload-svg {
    height: 60%;
}

.st0 {
    fill:none;
    stroke: currentColor;
    stroke-width:4;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.small-input {
    margin: 0;
    font-size: 0.9em;
    border: var(--border-color) solid 2px;
    width: calc((100vw - 56px) / 2);
}

@media (min-width: 500px) {
    .small-input {
        border: var(--border-color) solid 3px;
        font-size: 0.8em;
        width: 200px;
    }
}

.Qr-input {
    caret-color: #44d7b6;
    padding: 0;
    line-height: 2em;
    box-sizing: border-box;
    border-radius: 3em;
    outline: none;
    text-indent: 1em;
    overflow: visible;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
    font-family: 'Futura', sans-serif;
    color: var(--input-font-color);
    background-color: var(--bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.Qr-select {
    margin: 0;
    line-height: 2em;
    box-sizing: border-box;
    border-radius: 3em;
    outline: none;
    overflow: visible;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
    font-family: 'Futura', sans-serif;
    color: var(--input-font-color);
    font-size: 0.9em;
    border: var(--border-color) solid 2px;
    width: calc((100vw - 56px) / 2);
    padding-left: 1em;
}

@media (min-width: 500px) {
    .Qr-select {
        border: var(--border-color) solid 3px;
        width: 200px;
        font-size: 0.8em;
    }
}

.Qr-input::placeholder {
    font-family: 'Futura', sans-serif;
    color: var(--border-color);
}

.Qr-Centered {
    padding-left: 23px;
    padding-right: 23px;
    max-width: 954px;
    text-align: -webkit-left;
    text-align: -moz-left;
}

.Qr-input:focus {
    border-color: var(--border-color-focus);
    color: var(--input-font-color-focus);
}

.Qr-select:focus {
    border-color: var(--border-color-focus);
    color: var(--input-font-color-focus);
}


.Qr-table {
    width: 100%;
    border-spacing: 0;
}

@media (min-width: 500px) {
    .Qr-table {
        width: 410px;
    }
}

.Qr-div-table {
    margin-bottom: -10px;
    display: block;
}

@media (min-width: 886px) {
    .Qr-div-table {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -10px;
    }
}

.btn-row {
    margin-bottom: -10px;
}

.div-btn {
    justify-content: space-between;
    width: calc((100vw - 46px) / 1);
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
}

.div-btn .dl-btn {
    margin: 0 0 10px!important;
}

.ul-btn {
    float: left;
}

.dl-btn {
    cursor: pointer;
    font-size: 0.9em;
    line-height: 2em;
    margin: 0;
    width: calc((100vw - 56px) / 2);
    border-radius: 3em;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    border: var(--border-color) solid 2px;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.2s; /* Safari */
    -moz-animation-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
    background: var(--bg-color);
    font-family: 'Futura', sans-serif;
    color: var(--input-font-color);
    display: inline-block;
}

@media (min-width: 500px) {
    .dl-btn {
        border: var(--border-color) solid 3px;
        font-size: 0.8em;
    }
}

.dl-btn:disabled {
    cursor: not-allowed;
}

.dl-btn:disabled:hover {
    border-color: rgba(0,0,0,0.12);
    color: graytext;
}

.dl-btn:hover {
    border-color: var(--border-color-focus);
    color: var(--border-color-focus);
}

.dl-btn-active {
    border-color: var(--border-color-focus);
    color: var(--border-color-focus);
}

.dl-btn:active {
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
    -moz-transition-duration: 0s;
    border-color: var(--border-color-active);
    color: var(--border-color-active);
}

@media (min-width: 500px) {

    .div-btn {
        max-width: 410px;
    }

    .dl-btn {
        width: 200px;
    }
}

@media (min-width: 666px) {
    .img-dl-btn {
        max-width: 620px!important;
    }
}

.Qr-footer {
    color: var(--footer-font-color);
    margin-bottom: -1em;
}

.Gray {
    color: var(--footer-font-color-lighter);
}

.gray {
    color: var(--footer-font-color-lighter);
}

.Qr-footer div {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.Qr-footer strong {
    color: var(--font-color) !important;
}

.Qr-footer-part span {
    display: inline-block;
}

a {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: currentColor;
}

#wx-message-inner {
    margin-top: 20px;
}

.note-font {
    font-size: 12px;
}

.Qr-article {
    word-wrap: break-word;
    margin-top: calc((10px + 1vmin) * 2);
    margin-bottom: calc((10px + 2vmin) * 2);
    border-spacing: 0;
}

.Qr-article p {
    font-size: 14px;
    line-height: 1.7em;
    color: var(--p-font-color);
    letter-spacing: 0.05em;
}

.Qr-article p b {
    font-weight: bold;
    color: var(--font-color);
}

.Qr-article p a {
    font-weight: bold;
    padding: 1px 0;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
}

.Qr-article p a:hover {
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    text-decoration: none;
}

.Qr-article h2 {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 1.7em;
    letter-spacing: 0.05em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

@media (min-width: 500px) {
    .note-font {
        font-size: 14px;
    }

    .Qr-article p {
        font-size: 16px;
    }

    .Qr-article h2 {
        font-size: 22px;
    }
}

select {
    padding: 0;
    background-color: var(--bg-color);
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.twitter-picker {
    max-width: calc(100vw - 46px)!important;
    border: 0px solid rgba(0, 0, 0, 0.12) !important;
    box-sizing: border-box;
    border-radius: 10px!important;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}

.twitter-picker:nth-last-child(1) input {
    font: 15px 'Futura', sans-serif !important;
    caret-color: #44d7b6;
    padding: 1px 1px 1px 8px;
    outline: none;
    overflow: visible;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-appearance: none;
    -moz-text-size-adjust: 100%;
}

.medium-zoom-overlay {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background: var(--zoom-bg-color)!important;
}

.medium-zoom-image--opened {
    background: var(--zoom-img-bg-color)!important;
}