@font-face {
  font-family: 'Futura';
  src: url('./Futura.ttc');
}

body {
  margin: 0;
  font-family: 'Futura', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
